
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h5>Look up current build number for given bundle identifier</h5>
          <div class="alert alert-danger" role="alert" *ngIf="lookup_error">
            {{ lookup_error }}
          </div>
          <div class="alert alert-success" role="alert" *ngIf="lookup_success">
            Success
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="lookup_bundle_identifier">Bundle Identifier</label>
            <input type="text" class="form-control" id="lookup_bundle_identifier" placeholder="Enter Bundle Identifer" name="name" [(ngModel)]="lookupBuild.name">
          </div>
          <button type="button" class="btn btn-primary" (click)="getBuildNumber(lookupBuild)">Look Up</button>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="lookup_build_number">Build Number</label>
            <input type="text" class="form-control" id="lookup_build_number" placeholder="Build Number" name="build_number" [(ngModel)]="lookupBuild.build_number" disabled>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->

  <div class="row mt-4">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h5>Bump the build number for a given bundle identifier</h5>
          <div class="alert alert-danger" role="alert" *ngIf="bump_error">
            {{ bump_error }}
          </div>
          <div class="alert alert-success" role="alert" *ngIf="bump_success">
            Success
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="bump_bundle_identifier">Bundle Identifier</label>
            <input type="text" class="form-control" id="bump_bundle_identifier" placeholder="Enter Bundle Identifer" name="name" [(ngModel)]="bumpBuild.name">
          </div>
          <button type="button" class="btn btn-primary" (click)="bumpBuildNumber(bumpBuild)">Bump</button>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="bump_build_number">Build Number</label>
            <input type="text" class="form-control" id="bump_build_number" placeholder="Build Number" name="build_number" [(ngModel)]="bumpBuild.build_number" disabled>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->

  <div class="row mt-4">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h5>Force set the build number of a given bundle identifier</h5>
          <div class="alert alert-danger" role="alert" *ngIf="set_error">
            {{ set_error }}
          </div>
          <div class="alert alert-success" role="alert" *ngIf="set_success">
            {{ set_success }}
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="set_bundle_identifier">Bundle Identifier</label>
            <input type="text" class="form-control" id="set_bundle_identifier" placeholder="Enter Bundle Identifer" name="name" [(ngModel)]="setBuild.name">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="set_build_number">Build Number</label>
            <input type="text" class="form-control" id="set_build_number" placeholder="Build Number" name="build_number" [(ngModel)]="setBuild.build_number">
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="setBuildNumber(setBuild)">Set</button>
    </div>
  </div>
</div> <!-- container -->
